<nav>
    <ul> 
        <li><%= link_to 'Home', 'page/index' %></li>
        <li><%= link_to 'About', 'page/about' %></li>
        <li><%= link_to 'Contact', 'page/contact' %></li>
        <li><%= link_to 'Project', 'page/work' %></li>
    </ul>
</nav>